* {
  padding: 0;
  margin: 0;
  font-family: inherit;
}

*:before,
*:after,
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.app {
  background-color: #F4F4F4;
  min-height: 100vh;
  padding: 15px;
  padding-top: 50px;
}

.app__title {
  color: #E5CED0;
  text-align: center;
  font-size: 36px;
}

.app__todos {
  margin-top: 30px;
}

.btn {
  padding: 5px 5px;
  font-size: 14px;
  color: #666;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn--bordered {
  border: 1px solid #999;
  border-radius: 3px;
}