.todo-item {
  padding: 10px;
  display: flex;
}

.todo-item__radio {
  margin-right: 10px;
}

.todo-item__text {
  font-size: 15px;
}

.todo-item__text--done {
  text-decoration: line-through;
  font-style: italic;
}