.input-field {}

.input-field__input {
  border: none;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;

  color: rgba(0, 0, 0, .75);
  font-size: 18px;
}

::placeholder {
  font-style: italic;
  color: rgba(0,0,0,.25);
}